* {
  box-sizing: border-box;
}

#root {
  font-family: Arial, Helvetica, sans-serif;
  height: calc(100vh - 16px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

nav {
  border: 1px solid black;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  border-radius: 5px;
}

nav div {
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
  
  background-color: #ddd;
}

main {
  border: 1px solid black;
  border-radius: 5px;
  flex-grow: 1;
  margin: 10px;
  max-width: 400px;
  width: 100%;
  margin: 5px auto;
  padding: 5px;
}